.resume-section-container {
	width: 75%;
	min-width: 10rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 2rem 1rem;
	border-radius: 0.7rem;
	background-color: #242831;
	box-shadow: 0px 5px 10px rgb(66, 66, 66);
	visibility: hidden;
	opacity: 0;
	transition: 1.5s all;
	.section-title {
		width: fit-content;
		font-family: sans-serif;
		font-size: 2rem;
		color: white;
	}
	.section-info {
		width: fit-content;
		font-family: sans-serif;
		font-size: 0.9rem;
		color: #d3d9e2;
		text-align: justify;
	}
	&:nth-child(1) {
		transition-delay: 100ms;
	}
	&:nth-child(2) {
		transition-delay: 300ms;
	}
	&:nth-child(3) {
		transition-delay: 500ms;
	}
}

.resume-animation {
	opacity: 1;
	visibility: visible;
}
