.cv-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;
	padding: 1.5vh 0;
	border-radius: 0.6rem;
	background-color: #952995;
	outline: none;
	text-decoration: none;
	border: 1.5px solid white;
	filter: brightness(0.8);
	transition: filter 325ms;
	&:hover {
		filter: brightness(1);
	}
	.title-style {
		font-size: clamp(0.7rem, 1vw + 0.5rem, 1.3rem);
		font-family: shareTechMono;
		color: white;
	}
	.icon-container {
		width: clamp(1rem, 1vw + 1rem, 1.75rem);
		height: clamp(1rem, 1vh + 1rem, 1.75rem);
		color: white;
	}
}
