.cv-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	min-width: 200px;
	padding: 0.85rem 0;
	gap: 1rem;
	border-radius: 0.6rem;
	background-color: #952995;
	outline: none;
	text-decoration: none;
	border: 1.5px solid white;
	filter: brightness(0.8);
	transition: filter 325ms;
	&:hover {
		filter: brightness(1);
	}
	.title-style {
		font-size: clamp(0.9rem, 1vw + 0.5rem, 1.3rem);
		font-family: shareTechMono;
		color: white;
	}
	.icon-container {
		width: 1.75rem;
		height: 1.75rem;
		color: white;
	}
}

@media (width <= 450px) {
	.cv-btn {
		padding: 0.65rem 0;
		.icon-container {
			width: 1.3rem;
			height: 1.3rem;
		}
	}
}
