:root {
	--primaryColor: #9e2a9e;
	--paddingPage: 2rem;
	--gapContainer: 1rem;
	--pageTitle: clamp(2.25rem, 4vw + 1rem, 5rem);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-weight: normal;
	box-sizing: border-box;
}

img {
	-webkit-user-drag: none;
	max-width: 100%;
}

html,
body,
#__next {
	width: 100vw;
	width: 100svw;
	height: 100vh;
	height: 100svh;
}

button {
	cursor: pointer;
}

@font-face {
	font-family: shareTechMono;
	src: url("/static/fonts/ShareTechMono-Regular.ttf") format("truetype");
}

@font-face {
	font-family: RoadRadioBold;
	src: url("/static/fonts/RoadRadio\ Bold.ttf") format("truetype");
}

@font-face {
	font-family: cascadia;
	src: url("/static/fonts/Cascadia.ttf") format("truetype");
}

@font-face {
	font-family: RobotoCondensed;
	src: url("/static/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@media (width <= 992px) {
	:root {
		--paddingPage: 1rem;
	}
}

// Custom scrollbar.

@media (width > 768px) {
	*::-webkit-scrollbar {
		width: 0.8rem;
	}
	*::-webkit-scrollbar-track {
		background-color: transparent;
	}
	*::-webkit-scrollbar-thumb {
		border: 2px solid transparent;
		background-clip: content-box;
		background-color: var(--primaryColor);
		border-radius: 4rem;
	}
}
