:root {
	--primaryColor: #9e2a9e;
}

*,
*::before,
*::after {
	@font-face {
		font-family: shareTechMono;
		src: url("/static/fonts/ShareTechMono-Regular.ttf");
	}

	@font-face {
		font-family: RoadRadioBold;
		src: url("/static/fonts/RoadRadio\ Bold.ttf");
	}

	@font-face {
		font-family: cascadia;
		src: url("/static/fonts/Cascadia.ttf");
	}

	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 1rem;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: content-box;
	background-color: var(--primaryColor);
	border-radius: 10px;
}

img {
	-webkit-user-drag: none;
}

html,
body,
#__next {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
}

button {
	cursor: pointer;
}
