.home-page-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	gap: 60px;
	position: relative;
	padding: 30px;
	.main-content-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
		.top-main-container {
			display: flex;
			gap: 7.5rem;
			.about-me-container {
				display: flex;
				flex-direction: column;
				gap: 40px;
			}
			.laptop-style {
				position: relative;
				width: 550px;
				height: 550px;
				filter: brightness(0.7);
				opacity: 0.3;
				transition: 325ms;

				.line-1 {
					position: absolute;
					top: 17.5%;
					left: 18%;
					color: white;
					width: 0;
					border-right: 2px solid rgba(255, 255, 255, 0.75);
					white-space: nowrap;
					overflow: hidden;
					font-size: 1.3rem;
					font-family: shareTechMono;
					user-select: none;
					animation: blinkTextCursor 500ms steps(27) infinite normal;
				}

				&:hover {
					opacity: 0.7;
					filter: brightness(0.8);
				}

				&:hover .line-1 {
					animation: typewriter 1.25s steps(27) forwards;
				}
			}
		}

		.bottom-main-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 25px;
			.copyright-style {
				font-size: 0.9rem;
				color: white;
				font-family: RoadRadioBold;
			}
		}
	}

	.background-container {
		width: 100%;
		height: 100%;
		background-image: url("/static/images/homePage.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		filter: brightness(0.75);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 55%;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}

@media (height <= 800px) {
	.home-page-container {
		gap: 30px;
		.main-content-container {
			gap: 20px;
			.top-main-container {
				.laptop-style {
					width: 350px;
					height: 350px;
					.line-1 {
						font-size: 0.82rem;
					}
				}
			}
		}
	}
}

@media (width <= 1200px) {
	.home-page-container {
		.main-content-container {
			gap: 30px;
			.top-main-container {
				gap: 20px;
				.laptop-style {
					width: 350px;
					height: 350px;
					.line-1 {
						font-size: 0.82rem;
					}
				}
			}
			.bottom-main-container {
				gap: 35px;
				.copyright-style {
					font-size: 1rem;
				}
			}
		}
	}
}

@media (width <= 992px) {
	.home-page-container {
		.main-content-container {
			gap: 60px;
			.top-main-container {
				width: 100%;
				align-items: center;
				flex-direction: column;
				.about-me-container {
					width: 100%;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					gap: 115px;
				}
				.laptop-style {
					width: 350px;
					height: 350px;
					.line-1 {
						font-size: 0.7rem;
					}
				}
			}
			.bottom-main-container {
				display: none;
			}
		}
	}
}

@media (width <= 780px) {
	.home-page-container {
		.main-content-container {
			gap: 140px;
			.top-main-container {
				gap: 70px;
				.about-me-container {
					gap: 70px;
				}
				.laptop-style {
					width: 300px;
					height: 300px;
				}
			}
		}
	}
}

@media (width <= 650px) {
	.home-page-container {
		.main-content-container {
			gap: 0px;
			.top-main-container {
				gap: 25px;
				.about-me-container {
					gap: 40px;
					flex-direction: column;
				}
				.laptop-style {
					width: 250px;
					height: 250px;
				}
			}
			.bottom-main-container {
				display: none;
			}
		}
	}
}

@media (width <= 380px) {
	.home-page-container {
		.main-content-container {
			.top-main-container {
				gap: 40px;
				.about-me-container {
					gap: 60px;
				}
				.laptop-style {
					width: 200px;
					height: 200px;
				}
			}
		}
	}
}

/* iphones */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2),
	only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3),
	only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.home-page-container {
		.main-content-container {
			.top-main-container {
				gap: 70px;
				.laptop-style {
					width: 250px;
					height: 250px;
				}
			}
		}
	}
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
	.home-page-container {
		.main-content-container {
			.top-main-container {
				gap: 50px;
			}
		}
	}
}
