.home-page-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 20fr;
	gap: 6rem;
	position: relative;
	padding: 3rem 0;
	.main-content-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		.top-main-container {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 9rem;
			.about-me-container {
				display: flex;
				flex-direction: column;
				gap: 2rem;
			}
			.laptop-style {
				position: relative;
				width: 25rem;
				height: 20rem;
				.laptop-image {
					filter: invert(0.8);
				}
				.line-container {
					position: absolute;
					top: 8%;
					left: 18%;
					color: white;
					border-right: 2px solid rgba(255, 255, 255, 0.75);
					white-space: nowrap;
					overflow: hidden;
					font-size: 1em;
					font-family: cascadia;
					user-select: none;
					animation: typing-animation 7s infinite linear;

					.white-span {
						color: white;
					}

					.purple-span {
						color: purple;
					}

					.orange-span {
						color: orange;
					}

					.yellow-span {
						color: yellow;
					}
				}
			}
		}

		.bottom-main-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.5rem;
			.copyright-style {
				font-size: 0.9rem;
				color: white;
				font-family: RoadRadioBold;
			}
		}
	}

	.background-container {
		width: 100%;
		height: 100%;
		background-image: url("/static/images/homePage.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		filter: brightness(0.75);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

@keyframes typing-animation {
	0%,
	14%,
	28% {
		border-right-color: rgba(255, 255, 255, 0.75);
		width: 0%;
	}

	7%,
	21% {
		border-right-color: transparent;
	}

	78% {
		width: 59%;
	}

	85%,
	95% {
		border-right-color: transparent;
	}

	90%,
	100% {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
}

// Change the layout of the page.

@media (width <= 992px) {
	.home-page-container {
		gap: 1rem;
		.main-content-container {
			gap: 7rem;
			.top-main-container {
				flex-direction: column;
				align-items: center;
				gap: 2rem;
				.about-me-container {
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

// Mobiles - changing layout.

@media (width <= 450px) {
	.home-page-container {
		padding-top: 1.5rem;
		gap: 0.5rem;
		.main-content-container {
			.top-main-container {
				.laptop-style {
					width: 15rem;
					height: 13rem;
					.line-container {
						font-size: 0.6rem;
					}
				}
			}
			.bottom-main-container {
				display: none;
			}
		}
	}
}

// Mobile with special viewports such as s23, Iphone 13/12 and more.

@media (width <= 450px) and (800px <= height <= 950px) {
	.home-page-container {
		.main-content-container {
			.top-main-container {
				gap: 5rem;
				.about-me-container {
					gap: 4rem;
				}
				.laptop-style {
					width: 20rem;
					height: 17rem;
					.line-container {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}

// // Tablets such as Ipad and more.

// @media (700px <= width <= 1100px) and (700px <= height <= 1400px) {
// 	.home-page-container {
// 	}
// }
