.home-page-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	gap: 35px;
	z-index: 1;
	.main-content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 70px;
		.top-main-container {
			display: flex;
			gap: 125px;
			.about-me-container {
				display: flex;
				flex-direction: column;
				gap: 40px;
			}
			.laptop-style {
				position: relative;
				width: 550px;
				height: 550px;
				filter: brightness(0.7);
				opacity: 0.3;
				transition: 325ms;

				.line-1 {
					position: absolute;
					top: 17.5%;
					left: 18%;
					color: white;
					width: 0;
					border-right: 2px solid rgba(255, 255, 255, 0.75);
					white-space: nowrap;
					overflow: hidden;
					font-size: 1.3rem;
					font-family: shareTechMono;
					user-select: none;
					animation: blinkTextCursor 500ms steps(27) infinite normal;
				}

				&:hover {
					opacity: 0.7;
					filter: brightness(0.8);
				}

				&:hover .line-1 {
					animation: typewriter 1.25s steps(27) forwards;
				}
			}
		}
		.bottom-main-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 25px;
			.copyright-style {
				font-size: 0.9rem;
				color: white;
				font-family: RoadRadioBold;
			}
		}
	}
	.background-container {
		width: 100%;
		height: 100%;
		background-image: url("/static/images/homePage.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		filter: brightness(0.75);
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 55%;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}
