@font-face {
	font-family: shareTechMono;
	src: url("/static/fonts/ShareTechMono-Regular.ttf");
}

.navbar-container {
	width: fit-content;
	height: 100px;
	display: flex;
	align-items: center;
	gap: 100px;
	.title-style {
		font-family: shareTechMono;
		font-size: 1.15rem;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		position: relative;
		&:hover::after {
			width: 100%;
			border: 1px solid white;
		}
		&:after {
			content: "";
			height: 0px;
			width: 0px;
			position: absolute;
			bottom: -5px;
			left: 0;
			transition: 325ms ease-in-out;
		}
	}
}
