.navbar-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.menu-icon {
		width: fit-content;
		height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		position: absolute;
		right: 0.5rem;
		display: none;
		cursor: pointer;

		.menu-btn-burger {
			width: 1.5rem;
			height: 3px;
			background-color: white;
			box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
			border-radius: 5px;
			transition: all 0.5s ease-in-out;
			cursor: pointer;

			// Using before and after to make two more lines for the burger icon.
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 1.5rem;
				height: 3px;
				background: #fff;
				border-radius: 5px;
				box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
				transition: all 0.5s ease-in-out;
				cursor: pointer;
			}

			&::before {
				transform: translateY(-0.5rem); // Making a gap between each line.
			}
			&::after {
				transform: translateY(0.5rem); // Making a gap between each line.
			}
		}

		/* ANIMATION */
		.close-icon {
			transform: translateX(-50px);
			background: transparent;
			box-shadow: none;
			&::before {
				transform: rotate(45deg) translate(35px, -35px); // Animation to make the x symbol.
			}
			&::after {
				transform: rotate(-45deg) translate(35px, 35px); // Animation to make the x symbol.
			}
		}
	}

	.nav-options-container {
		display: flex;
		gap: 10rem;
		.link-style {
			font-family: shareTechMono;
			font-size: clamp(1.1rem, 1vw + 0.25rem, 1.3rem);
			color: white;
			cursor: pointer;
			text-transform: uppercase;
			position: relative;
			opacity: 0.8;
			transition: 325ms opacity;
			text-decoration: none;
			&:hover {
				opacity: 1;
				&::after {
					width: 100%;
				}
			}

			&:after {
				content: "";
				position: absolute;
				width: 0%;
				height: 2.5px;
				bottom: -5px;
				left: 0;
				transition: 325ms ease-in-out;
				background-color: white;
			}
		}
	}
}

// Changing layout of navbar.

@media (width <= 992px) {
	.navbar-container {
		z-index: 1000;
		.nav-options-container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			position: fixed;
			top: 0;
			right: -100%;
			background: rgb(43, 43, 43);
			transition: all 500ms ease-in-out;

			.link-style {
				transform: translateX(40rem);
				transition: transform 500ms;
				&:nth-child(2) {
					transition-delay: 150ms;
				}
				&:nth-child(3) {
					transition-delay: 250ms;
				}
				&:nth-child(4) {
					transition-delay: 350ms;
				}
				&:nth-child(5) {
					transition-delay: 450ms;
				}
			}
		}

		.show-responsive-nav {
			transform: translateX(-100%);

			.link-style {
				transform: translateX(0);
			}
		}
		.menu-icon {
			display: block;
		}
	}
}
