.profile-container {
	.main-titles-container {
		display: flex;
		flex-direction: column;
		.white-title {
			font-family: RoadRadioBold;
			color: white;
			font-size: 6rem;
		}

		.purple-title {
			font-family: RoadRadioBold;
			color: #9e2a9e;
			font-size: 6rem;
			text-shadow: 3px 3px #580f5860;
		}

		.mini-white-title {
			font-family: RoadRadioBold;
			color: white;
			font-size: 1.5rem;
		}

		.titles-container {
			display: flex;
			gap: 25px;
		}

		.sub-titles-container {
			display: flex;
			align-items: center;
			gap: 20px;
			.developer-titles-container {
				display: flex;
				flex-direction: column;
				gap: 5px;
				.mini-titles-container {
					display: flex;
					align-items: center;
					gap: 10px;
					.line {
						border: 1px solid white;
						width: 75px;
						height: 2px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1450px) {
	.profile-container {
		.main-titles-container {
			.white-title,
			.purple-title {
				font-size: 5rem;
			}
			.mini-white-title {
				font-size: 1.25rem;
			}
		}
	}
}
