.profile-container {
	.main-titles-container {
		display: flex;
		flex-direction: column;
		.white-title {
			font-family: RoadRadioBold;
			color: white;
			font-size: 6rem;
		}

		.purple-title {
			font-family: RoadRadioBold;
			color: var(--primaryColor);
			font-size: 6rem;
			text-shadow: 3px 3px #580f5860;
		}

		.mini-white-title {
			font-family: RoadRadioBold;
			color: white;
			font-size: 1.5rem;
		}

		.titles-container {
			display: flex;
			gap: 25px;
		}

		.sub-titles-container {
			display: flex;
			align-items: center;
			gap: 20px;
			.developer-titles-container {
				display: flex;
				flex-direction: column;
				gap: 5px;
				.mini-titles-container {
					display: flex;
					align-items: center;
					gap: 10px;
					.line {
						border: 1px solid white;
						width: 75px;
						height: 2px;
					}
				}
			}
		}
	}
}

@media only screen and (height <=800px) {
	.profile-container {
		.main-titles-container {
			.white-title,
			.purple-title {
				font-size: 5rem;
			}
			.mini-white-title {
				font-size: 1.25rem;
			}
		}
	}
}

@media only screen and (width <= 1200px) {
	.profile-container {
		.main-titles-container {
			.white-title,
			.purple-title {
				font-size: 5rem;
			}
			.mini-white-title {
				font-size: 1rem;
			}
		}
	}
}

@media only screen and (width <= 992px) {
	.profile-container {
		.main-titles-container {
			.white-title,
			.purple-title {
				font-size: 4.5rem;
			}
			.mini-white-title {
				font-size: 1.1rem;
			}
		}
	}
}

@media screen and (width <= 780px) {
	.profile-container {
		.main-titles-container {
			.white-title,
			.purple-title {
				font-size: 4rem;
			}
			.mini-white-title {
				font-size: 1.1rem;
			}
		}
	}
}

@media screen and (width <= 650px) {
	.profile-container {
		.main-titles-container {
			.white-title,
			.purple-title {
				justify-content: center;
				display: flex;
				font-size: 3.5rem;
			}
			.mini-white-title {
				font-size: 1rem;
			}
			.titles-container {
				justify-content: center;
			}
			.sub-titles-container {
				flex-direction: column;
			}
		}
	}
}

@media screen and (width <= 380px) {
	.profile-container {
		.main-titles-container {
			.white-title,
			.purple-title {
				font-size: 2.5rem;
			}
			.mini-white-title {
				font-size: 0.9rem;
			}
		}
	}
}

// Iphone X
@media only screen and (device-width: 375px) and (device-height: 812px) {
	.profile-container {
		.main-titles-container {
			.white-title,
			.purple-title {
				font-size: 3.5rem;
			}
			.mini-white-title {
				font-size: 1rem;
			}
		}
	}
}
