.profile-container {
	.main-titles-container {
		display: flex;
		flex-direction: column;
		.white-title {
			font-family: RoadRadioBold;
			color: white;
			font-size: clamp(3rem, 6vw + 1rem, 6.5rem);
		}

		.purple-title {
			font-family: RoadRadioBold;
			color: var(--primaryColor);
			font-size: clamp(3rem, 6vw + 1rem, 6.5rem);
			text-shadow: 3px 3px #580f5860;
		}

		.mini-white-title {
			font-family: RoadRadioBold;
			color: white;
			font-size: clamp(0.9rem, 1.5vw + 0.5rem, 1.5rem);
		}

		.titles-container {
			display: flex;
			gap: 1.5em;
		}

		.sub-titles-container {
			display: flex;
			align-items: center;
			gap: 1.5em;
			.developer-titles-container {
				display: flex;
				flex-direction: column;
				gap: 0.25em;
				.mini-titles-container {
					display: flex;
					align-items: center;
					gap: 0.5em;
					.line {
						border: 1px solid white;
						width: 50%;
						height: 2px;
					}
				}
			}
		}
	}
}

@media (width <= 450px) {
	.profile-container {
		.main-titles-container {
			.white-title,
			.purple-title {
				display: flex;
				justify-content: center;
			}
			.titles-container {
				justify-content: center;
			}
			.sub-titles-container {
				flex-direction: column;
			}
		}
	}
}
