.social-link-style {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	outline: none;
	text-decoration: none;
	gap: 0.75rem;
	position: relative;

	.title-style {
		position: absolute;
		color: black;
		font-weight: bold;
		font-family: RoadRadioBold;
		padding: 0.75em;
		border-radius: 5px;
		background-color: white;
		opacity: 0;
		visibility: hidden;
		transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

		&:before {
			content: "";
			position: absolute;
			width: 1rem;
			height: 1rem;
			bottom: -0.5rem;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
		}
	}

	.svg-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.75rem;
		height: 3.75rem;
		border-radius: 50%;
		background-color: white;
		transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

		.svg-style {
			width: 2rem;
			height: 2rem;
			color: black;
			transition: color 325ms;
		}
	}

	.Linkedin-title-background::before {
		background-color: #0077b5;
	}

	.GitHub-title-background::before {
		background-color: #000;
	}

	&:hover {
		.title-style {
			visibility: visible;
			opacity: 1;
			transform: translateY(-4.5rem);
			color: white;
		}
		.svg-style {
			color: white;
		}

		.Linkedin-title-background,
		.Linkedin-svg-background,
		.Linkedin-title-background::before {
			background-color: #0077b5;
		}

		.GitHub-title-background,
		.GitHub-svg-background {
			background-color: #000;
		}
	}
}

@media (width <= 992px) {
	.social-link-style {
		.title-style {
			display: none;
		}
	}
}
