.single-skill-container {
	width: 20%;
	min-width: 70px;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border-radius: 5px;
	background-color: #3d3e42;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	.svg-style {
		width: 50%;
		height: 50%;
	}
	.title-style {
		white-space: nowrap;
		font-size: clamp(0.7rem, 1vw + 0.25rem, 1rem);
		color: rgb(205, 205, 205);
		font-family: shareTechMono;
	}
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 1s;
	&:nth-child(n) {
		transition-delay: calc(n * 50) ms;
	}

	@for $i from 2 through 10 {
		&:nth-child(#{$i}) {
			transition-delay: calc(#{$i} * 50ms);
		}
	}
}

@media (width <= 992px) {
	.single-skill-container {
		gap: 1.35vh;
		padding: 0.5vh;
	}
}
