.single-skill-container {
	width: 20%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	border-radius: 5px;
	background-color: #3d3e42;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	.svg-style {
		width: 45px;
		height: 45px;
	}
	.title-style {
		font-size: 1rem;
		color: rgb(205, 205, 205);
		font-family: shareTechMono;
	}
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 1s;
	&:nth-child(n) {
		transition-delay: calc(n * 50) ms;
	}

	@for $i from 2 through 10 {
		&:nth-child(#{$i}) {
			transition-delay: calc(#{$i} * 50ms);
		}
	}
}

@media only screen and (max-width: 1450px) {
	.single-skill-container {
		width: 20%;
		height: 70px;
		gap: 10px;
		.svg-style {
			width: 30px;
			height: 30px;
		}
		.title-style {
			font-size: 0.75rem;
		}
	}
}
