.soft-skill-container {
	width: fit-content;
	height: 50px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	gap: 10px;
	background-color: #222222;
	opacity: 0;
	filter: blur(5px);
	transform: translateY(-100%);
	.square-style {
		width: 7px;
		height: 7px;
		border-radius: 1px;
		background-color: white;
	}
	.title-style {
		font-size: 1rem;
		font-family: RoadRadioBold;
		color: white;
	}
}

.show-animation {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
	transition: all 1s;

	@for $i from 2 through 14 {
		&:nth-child(#{$i}) {
			transition-delay: calc(#{$i} * 50ms + 100ms);
		}
	}
}

@media only screen and (max-width: 1450px) {
	.soft-skill-container {
		height: 30px;
		.square-style {
			width: 5px;
			height: 5px;
		}
		.title-style {
			font-size: 0.85rem;
		}
	}
}
