.soft-skill-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: 2px;
	gap: 0.65rem;
	background-color: #222222;
	opacity: 0;
	filter: blur(5px);
	transform: translateY(-100%);
	.square-style {
		width: 6px;
		height: 6px;
		border-radius: 1px;
		background-color: white;
	}
	.title-style {
		white-space: nowrap;
		font-size: clamp(0.6rem, 1vw + 0.25rem, 0.95rem);
		font-family: RoadRadioBold;
		color: white;
	}
}

.show-animation {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
	transition: all 1s;

	@for $i from 2 through 14 {
		&:nth-child(#{$i}) {
			transition-delay: calc(#{$i} * 50ms + 100ms);
		}
	}
}

@media (width <= 992px) {
	.soft-skill-container {
		padding: 1vh;
	}
}

// @media only screen and (height <= 800px) {
// 	.soft-skill-container {
// 		height: 30px;
// 		.square-style {
// 			width: 5px;
// 			height: 5px;
// 		}
// 		.title-style {
// 			font-size: 0.85rem;
// 		}
// 	}
// }

// @media (width <= 1200px) {
// 	.soft-skill-container {
// 		height: fit-content;
// 	}
// }

// @media (width <= 650px) {
// 	.soft-skill-container {
// 		padding: 5px;
// 		.square-style {
// 			width: 5px;
// 			height: 5px;
// 		}
// 		.title-style {
// 			font-size: 0.9rem;
// 		}
// 	}
// }

// @media (width <= 385px) {
// 	.soft-skill-container {
// 		.title-style {
// 			font-size: 0.75rem;
// 		}
// 	}
// }

// @media (width <= 280px) {
// 	.soft-skill-container {
// 		.title-style {
// 			font-size: 0.55rem;
// 		}
// 	}
// }
