.about-container {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	position: relative;

	*::-webkit-scrollbar {
		width: 0.6rem;
	}
	*::-webkit-scrollbar-track {
		background: #d8dad8;
		border-radius: 100vw;
	}
	*::-webkit-scrollbar-thumb {
		background-color: #141414;
		border-radius: 100vw;
		transition: 325ms background;
		&:hover {
			background-color: #00000050;
		}
	}
	.background-container {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url("/static/images/white.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		filter: brightness(0.95);
		z-index: -1;
	}
	.left-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 90px;
		transform: translateX(-50%);
		opacity: 0;
		.titles-container {
			display: flex;
			flex-direction: column;
			.about-title,
			.me-title {
				font-family: RoadRadioBold;
				font-size: clamp(4rem, 5vw + 1rem, 8rem); // Use clamp for headers and more.
			}
			.about-title {
				color: black;
			}
			.me-title {
				display: flex;
				justify-content: flex-end;
				color: #9e2a9e;
				text-shadow: 3px 3px #580f5860;
			}
		}
	}

	.seperator-line {
		width: 3px;
		height: 80%;
		background-color: rgb(158, 42, 158, 0.2);
	}

	.right-container {
		width: 35%;
		overflow-y: overlay;
		transform: translateX(50%);
		opacity: 0;

		p {
			font-family: sans-serif;
			color: black;
			font-size: 1.3rem;
		}
	}

	.fade-left {
		opacity: 1;
		transform: translateX(0);
		transition: all 500ms;
		transition-delay: 150ms;
	}

	.fade-right {
		opacity: 1;
		transform: translateX(0);
		transition: all 500ms;
	}
}

@media only screen and (max-height: 800px) {
	.about-container {
		.left-container {
			gap: 50px;
		}
		.right-container {
			p {
				font-size: 1rem;
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	.about-container {
		flex-direction: column;
		gap: 50px;
		.left-container {
			gap: 50px;
			.titles-container {
				align-items: center;
				justify-content: center;
			}
		}

		.seperator-line {
			display: none;
		}

		.right-container {
			width: 70%;
		}
	}
}

@media only screen and (max-width: 780px) {
	.about-container {
		.right-container {
			width: 80%;
			p {
				font-size: 1.1rem;
			}
		}
	}
}

@media only screen and (max-width: 450px) {
	.about-container {
		gap: 20px;
		.left-container {
			gap: 15px;
		}
		.right-container {
			p {
				font-size: 0.7rem;
			}
		}
	}
}

/* iphone 12 Pro Max */
@media only screen and (min-device-width: 428px) and (max-device-height: 926px) {
	.about-container {
		gap: 45px;
		.right-container {
			p {
				font-size: 1.05rem;
			}
		}
	}
}

/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
	.about-container {
		.right-container {
			p {
				font-size: 0.95rem;
			}
		}
	}
}

/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	.about-container {
		.right-container {
			p {
				font-size: 1rem;
			}
		}
	}
}

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.about-container {
		.right-container {
			p {
				font-size: 0.9rem;
			}
		}
	}
}
